/* Tantek Celik's reset */
:link,:visited { text-decoration:none }
ul, ol { list-style:none }
h1, h2, h3, h4, h5, h6, pre, code { font-size:1em; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
{ margin:0; padding:0 }
a img, :link img, :visited img { border:none }
address { font-style:normal }

/* Corey's reset */
* { box-sizing: border-box }

/* End resets */
/* Begin David Baldi's CSS */
/* Card container */

* {
    font-family: Calibri;
}

body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container-div {
    /* outline: 1pt solid red; */
    background-color: aqua;
    margin: 2%;
    width: 3.125in;
    height: 4.375in;
}

.card-container-upper-div {
    /* outline: 1pt solid red; */
    /* background-color: blueviolet; */
    width: 3.125in;
    height: 4.375in;
}

.card-itself-img {
    /* outline: 1pt solid red; */
    width: 3.125in;
    height: 4.375in;
    border: 1pt solid black;
    border-radius: 2.5%;
}

.card-container-lower-div {
    /* outline: 1pt solid red; */
    background-color: blue;
    width: inherit;
    height: 0.75in;
}

.card-extras-div {
    /* outline: 1pt solid red; */
    background-color: yellowgreen;
    width: inherit;
    height: inherit;
    display: flex;
}

.card-extras-left-div {
    /* outline: 1pt solid red; */
    background-color: burlywood;
    width: 1.5625in;
    height: inherit;
}

.card-extras-quantity-div {
    /* outline: 1pt solid red; */
    background-color: yellow;
    padding: 2.5%;
    width: inherit;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-extras-status-div {
    /* outline: 1pt solid red */
    background-color: chartreuse;
    padding: 2.5%;
    width: inherit;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-extras-right-div {
    /* outline: 1pt solid red */
    background-color: turquoise;
    width: 1.5625in;
    height: inherit;
    display: flex;
}

.card-extras-heart-div {
    /* outline: 1pt solid red */
    background-color: springgreen;
    width: 0.78125in;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-extras-cart-div {
    /* outline: 1pt solid red */
    background-color: tomato;
    width: 0.78125in;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-icon-img,
.cart-icon-img {
    background-color: slateblue;
    width: 90%;
    height: 90%;
}