/* Tantek Celik's reset */
:link,:visited { text-decoration:none }
ul, ol { list-style:none }
/* h1, h2, h3, h4, h5, h6, pre, code { font-size:1em; } */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
{ margin:0; padding:0 }
a img, :link img, :visited img { border:none }
address { font-style:normal }

/* Corey's reset */
* { box-sizing: border-box }

/* End resets */
/* Begin David Baldi's CSS */
/* Main components (base.html template, etc.) */

* {
    font-family: Calibri; 
}

/* Uncategorized section */

.all_cards_table,
.all_cards_thead,
.all_cards_th,
.all_cards_tr,
.all_cards_td {
    border: 1px solid black;
    border-collapse: collapse;
}

.red_delete_link {
    color: red;
}

.red_flashed_messages {
    color: red;
}

/* Admin Dashboard */

.admin-main-page {
    grid-area: all-cards;
    padding: 2.5%;
    border-right: 2pt solid black;
    border-left: 2pt solid black;
    overflow-y: scroll;
    /* background-color: aquamarine; */
}

.admin-main-page::-webkit-scrollbar {
    display: none;
}

.admin-main-page {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* 'View Cards' Main Components */


/* Change name of this attribute */
.view-cards-entire-container {
    height: 100vh;
    width: 100vw;
    /* background-color: aqua; */
    display: grid;
    grid-template-rows: 15vh minmax(0, max-content) minmax(0, max-content) minmax(0, max-content) auto;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: 
        ". . ."
        ". notifications ."
        ". switches ."
        ". page-info ."
        "miscellaneous-blurb all-cards email-blurb";
}

.fixed-banner-and-nav-bar {
    position: fixed;
    border-bottom: 1pt solid black;
    height: 15vh;
    width: 100%;
    display: grid;
    grid-template-rows: 10vh 5vh;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
        "logo banner blank"
        "menu-left . menu-right";
    justify-items: stretch;
    /* background-color: antiquewhite; */
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.banner {
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
}

.blank {
    grid-area: blank;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
}

.menu-left {
    grid-area: menu-left;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5%;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
    width: 50vw;
    justify-self: start;
    /* background-color: tomato; */
}

.menu-right {
    grid-area: menu-right;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5%;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
    width: 50vw;
    justify-self: end;
    /* background-color: springgreen; */
}

.notifications {
    grid-area: notifications;
    padding-left: 1%;
    padding-right: 1%;
    border-left: 2pt solid black;
    border-right: 2pt solid black;
    /* border-bottom: 2pt solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
}

.card-switches {
    grid-area: switches;
    padding: 1%;
    border-left: 2pt solid black;
    border-right: 2pt solid black;
    border-bottom: 2pt solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.page-info {
    grid-area: page-info;
    padding: 1%;
    border-left: 2pt solid black;
    border-right: 2pt solid black;
    border-bottom: 2pt solid black;
    /* background-color: blueviolet; */
}

.all-cards {
    grid-area: all-cards;
    padding: 2.5%;
    border-right: 2pt solid black;
    border-left: 2pt solid black;
    display: flex;
    overflow-y: scroll;
    /* background-color: aquamarine; */
}

/* Hide scrollbar Chrome, Safari, Opera */
.all-cards::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar IE, Edge, Firefox*/
.all-cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.email-blurb {
    grid-area: email-blurb;
    margin: 15px;
    border: 2pt solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    justify-self: end;
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chocolate; */
}

.miscellaneous-blurb {
    grid-area: miscellaneous-blurb;
    margin: 15px;
    border: 2pt solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    justify-self: start;
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:lightblue; */
}

/* 404 Main Components */

.page-not-found {
    grid-area: all-cards;
}

/* 'Add Card' Form Components */

.admin-add-card-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.admin-add-card-fieldset {
    border-radius: 2%;
    margin: 2.5%;
    padding: 1%;
    width: 25vw;
    height: fit-content;
}

/* 'Edit Card' Form Components */

.admin-edit-card-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.admin-edit-card-fieldset {
    border-radius: 10px;
    margin: 2.5%;
    padding: 1%;
    width: 25vw;
    height: fit-content;
}

.admin-edit-card-image {
    outline: 1pt solid black;
    border-radius: 5%;
    width: 175px;
}

/* 'Profile' Main Components */

.profile-contents {
    grid-area: all-cards;
}

.user-profile-pic {
    /* border: 1pt solid black; */
    border-radius: 10px;
}

/* 'Edit Profile' Main Components */

.edit-profile-contents {
    grid-area: all-cards;
}

/*  */

.homepage {
    grid-area: all-cards;
    padding: 2.5%;
    border-right: 2pt solid black;
    border-left: 2pt solid black;
    display: flex;
    overflow-y: scroll;
}

.homepage::-webkit-scrollbar {
    display: none;
}

.homepage {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Login Components */


.login-whole-container {
    width: 100vw;
    height: 100vh;
    /* background-color:antiquewhite; */
    display: grid;
    grid-template-rows: 2fr 0.3fr 200px 0.3fr 2fr;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-areas:
        ". notifications ."
        ". logo-top ."
        ". login-square ."
        " . logo-bottom ."
        ". below-login-form-info .";
}

.login-square-fieldset {
    grid-area: login-square;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.login-legend {
    font-size: large;
}

.login-username-label-and-field,
.login-password-label-and-field,
.login-remember-me-label-and-field,
.login-submit-button-div {
    display: flex;
}

.login-username-label-and-field {
    margin-top: 3%;
    margin-bottom: -3%;
}

.login-password-label-and-field {
    margin-top: -3%;
    margin-bottom: -3%;
}

.login-remember-me-label-and-field {
    margin-top: -3%;
    margin-bottom: -3%;
    align-items: center;
    justify-content: end;
}

.login-username-label {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: medium;
}

.login-username-field {
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.login-password-label {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: medium;
}

.login-password-field {
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.login-remember-me-label {
    font-size: medium;
    margin-right: 5px;
    margin-bottom: 5px;
}

.login-submit-button-div {
    margin-top: 10px;
}

.login-submit-button-itself {
    border: 2pt solid gray;
    border-radius: 8px;
    height: 47.5px;
    flex-grow: 1;
    font-size: larger;
}

.logo-top {
    grid-area: logo-top;
    justify-self: center;
    align-self: end;
}

.logo-bottom {
    grid-area: logo-bottom;
    justify-self: center;
    align-self: end;
}

.login-info-underneath {
    grid-area: below-login-form-info;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

.login-logos {
    width: 250px;
}

.notifications-box {
    grid-area: notifications;
    justify-self: center;
    align-self: end;
    color: red;
}


/* Registration Components */


.registration-main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 0.4fr auto 0.4fr 2fr;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-areas:
        ". registration-notifications ."
        ". registration-logo-top ."
        ". registration-square ."
        " . registration-logo-bottom ."
        ". below-registration-form-info .";
    /* background-color: antiquewhite; */
}

.registration-fieldset {
    grid-area: registration-square;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    /* background-color: aqua; */
}

.registration-legend {
    font-size: large;
}

.registration-username-label-and-field,
.registration-password-label-and-field,
.registration-confirm-password-label-and-field,
.registration-submit-button-div {
    display: flex;
}


/* *************************** */


.registration-username-label-and-field {
    margin-bottom: 4%;
    align-items: center;
    /* background-color: aquamarine; */
}

.registration-password-label-and-field {
    margin-top: -3%;
    align-items: center;
    /* background-color: azure; */
}

.registration-confirm-password-label-and-field {
    margin-top: 1%;
    /* margin-bottom: -3%; */
    align-items: center;
    /* background-color: azure; */
}

.registration-username-label {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* background-color: beige; */
}

.registration-username-field {
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.registration-password-label {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.registration-password-field {
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.registration-confirm-password-label {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.registration-confirm-password-field {
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.registration-submit-button-div {
    margin-top: 10px;
}

.registration-submit-button-itself {
    border: 2pt solid gray;
    border-radius: 8px;
    height: 47.5px;
    flex-grow: 1;
    font-size: larger;
}

.below-registration-form-info {
    grid-area: below-registration-form-info;
    justify-self: center;
    align-self: start;
}

.registration-notifications {
    grid-area: registration-notifications;
    justify-self: center;
    align-self: end;
}