/* Tantek Celik's reset */
:link,:visited { text-decoration:none }
ul, ol { list-style:none }
/* h1, h2, h3, h4, h5, h6, pre, code { font-size:1em; } */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
{ margin:0; padding:0 }
a img, :link img, :visited img { border:none }
address { font-style:normal }

/* Corey's reset */
* { box-sizing: border-box }

/* End resets */
/* Begin David Baldi's CSS */
/* Main components (base.html template, etc.) */

* {
    font-family: Calibri; 
}

#entire-login-container {
    height: 100vh;
    width: 100vw;
    display: grid;
}

.login-box-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-fieldset {
    padding: 10px 15px 15px 15px;
    width: 300px;
    border-radius: 15px;
}

.login-fieldset-legend {
    margin-left: 4px;
}

.login-field {
    height: 35px;
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-username-field-container,
.login-password-field-container {
    display: flex;
    justify-content: right;
}

.username-input-field-label,
.password-input-field-label {
    width: 30%;
}

.username-input-field,
.password-input-field {
    margin: 2.5%;
    width: 80%;
    border-radius: 5px;
}

.login-remember-me-field-container {
    display: flex;
    justify-content: left;
}

.remember-me-checkbox {
    margin: 2.5%;
}

.login-submit-button-field-container {
    display: flex;
}

.login-button {
    width: 100%;
    border-radius: 5px;
}

/* Main components (base.html template, etc.) */

.all_cards_table,
.all_cards_thead,
.all_cards_th,
.all_cards_tr,
.all_cards_td {
    border: 1px solid black;
    border-collapse: collapse;
}