<div class="card-whole-div">
    <div class="card-itself">
        <img src="/static/{{ card.filename }}" alt="Image of {{ card.card_name }}" class="card-img-resizing">
        <!-- <img src="\\wsl.localhost\Ubuntu-20.04\home\supernovashaman\app\static\rae.png" alt="Image of Rae" class="card-img-resizing"> -->
    </div>
    <div class="card-bottom-info">
        <div class="card-bottom-info-name card-bottom-info-entry">
            <i><b>{{ card.card_name }}</b></i>
        </div>
        <div class="card-bottom-info-version card-bottom-info-entry">
            <i>version</i> <b>Collectable</b>
        </div>
        <div class="card-bottom-info-status card-bottom-info-entry">
            <i>status</i> <b>Private Collection</b>
        </div>
        <div class="card-like-button">
            {% if card.id not in current_user.favorite_cards %}
                <a href="/cards/{{ card.id }}/like">
                    <img src="/static/img-unliked.png" alt="'Unliked' symbol" class="card-img-like-button">
                </a>
            {% elif card.id in current_user.favorite_cards %}
                <a href="/cards/{{ card.id }}/unlike">
                    <img src="/static/img-liked.png" alt="'Liked' symbol" class="card-img-like-button">
                </a>
            {% endif %}
        </div>
        <div class="card-add-to-cart-button">
            <img src="/static/img-cart.png" alt="'Add to Cart' button" class="card-img-add-to-cart-button">
        </div>
    </div>
</div>