<div class="card-container-div">
    <div class="card-container-upper-div">
        <img src="static/cards/{{ card.filename }}" alt="Image of the '{{ card.name }}' card" class="card-itself-img">
    </div>
    <div class="card-container-lower-div">
        <div class="card-extras-div">
            <div class="card-extras-left-div">
                <div class="card-extras-quantity-div">
                    ...
                </div>
                <div class="card-extras-status-div">
                    ...
                </div>
            </div>
            <div class="card-extras-right-div">
                <div class="card-extras-heart-div">
                    <img src="#" alt="Fave button" class="heart-icon-img">
                </div>
                <div class="card-extras-cart-div">
                    <img src="#" alt="Add-to-card button" class="cart-icon-img">
                </div>
            </div>
        </div>
    </div>
</div>