{% extends "base.html" %}

{% block content %}
    <h1>Add a Card</h1>
    Or, go back to <b><a href="/admin/cards/all">view all cards</a></b>.
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.card_name.label }}<br>
            {{ form.card_name(size=64) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=64) }}<br>
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type(size=64) }}<br>
        </p>
        <p>
            {{ form.released_on.label }}<br>
            {{ form.released_on(size=64) }}<br>
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status(size=64) }}<br>
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=64) }}<br>
        </p>
        <p>
            {{ form.filename.label }}<br>
            {{ form.filename(size=64) }}<br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}