<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/app/static/css/styles.css"> -->
    <!-- <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\home\supernovashaman\app\static\css\styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <div class="registration-main-container">
        <div class="registration-notifications">
            {% with messages = get_flashed_messages(category_filter=['use_different_username']) %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red;">
                            {{ message }}
                        </span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=['use_different_email']) %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red;">
                            {{ message }}
                        </span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=['passwords_do_not_match']) %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red;">
                            {{ message }}
                        </span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <fieldset class="registration-fieldset">
            <legend class="registration-legend">
                Sign up
            </legend>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="registration-username-label-and-field">
                    <label for="registration-username-label" class="registration-username-label">Username</label>
                    <!-- <input type="text" id="registration-username-label" class="registration-username-field"> -->
                    {{ form.username(id='registration-username-label', class_='registration-username-field') }}
                </div>
                <!-- next line needs att. -->
                <div class="registration-email-label-and-field">
                    <!-- next line needs att. -->
                    <label for="registration-email-label" class="registration-email-label">Email</label>
                    <!-- <input type="text" id="registration-username-label" class="registration-username-field"> -->
                    <!-- next line needs att. -->
                    {{ form.email(id='registration-email-label', class_='registration-email-field') }}
                </div>
                <div class="registration-password-label-and-field">
                    <label for="registration-password-field" class="registration-password-label">Password</label>
                    <!-- <input type="password" id="registration-password-field" class="registration-password-field"> -->
                    {{ form.password(id='registration-password-field', class_='registration-password-field') }}
                </div>
                <div class="registration-confirm-password-label-and-field">
                    <label for="registration-confirm-password-field" class="registration-confirm-password-label">Confirm password</label>
                    <!-- <input type="password" id="registration-confirm-password-field" class="registration-confirm-password-field"> -->
                    {{ form.password2(id='registration-confirm-password-field', class_='registration-confirm-password-field') }}
                </div>
                <div class="registration-submit-button-div">
                    <!-- <button type="submit" class="registration-submit-button-itself">Sign me up!</button> -->
                    {{ form.submit(class_='registration-submit-button-itself') }}
                    <!-- {{ form.submit() }} -->
                </div>
            </form>
        </fieldset>
        <div class="below-registration-form-info">
            <div>
                <a href="#">What is this place?</a>
            </div>
            <br>
            <div>
                Or, <a href="/login">log in</a>.
            </div>
        </div>
    </div>
</body>
</html>