{% extends "base.html" %}

{% block content %}
    <div class="card-switches">
    </div>
    <div class="page-info">
        Here you can browse the cards! Just click on a heart to 'like' a card and add it to your collection.
        <span style="color:red;">
            However, please note that the cart feature is not yet implemented!
        </span>
        <br>
    </div>
    <div class="all-cards">
        {% for card in cards %}
            {% include '_card.html' %}
        {% endfor %}
    </div>
{% endblock content %}